body {
  padding:0;
  margin:0;
  width:100%;
  max-height: 100vh; /* Set maximum height to 100% of the viewport height */
  overflow-y: auto;
}
@font-face {
  font-family: Font;
  src: url(Chopin-Trial-Black.woff);
}

@font-face {
  font-family: FontBold;
  src: url(Chopin-Trial-Bold.woff);
}

@font-face {
  font-family: FontReg;
  src: url(Chopin-Trial-Regular.woff);
}

.logo {
  float: left;
  position: relative;
  height: 75%;
  width: 75%;
}

.navbar-brand {
  font-family: FontBold;
  margin-left: 5px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 24px;
  transition: 0.3s color;

}

.navbar-home {
  font-size: 25px;
  background-color: #EDE4FF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0.2, .5);
  height: 80px;
  margin: 10px;
  border-radius: 20px;
  padding: 0.5rem;
}

.home-login-button {
  font-family: FontReg;

  background-color: #8d48a1;
  color: #ffffff;

  font-size: 20px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}


.home-login-button:hover {
  color: #000;
  background-color: #ffffff;
  font-family: FontBold;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {

  font-family: FontReg;

  color: rgb(8, 1, 68);
  font-weight: 500;
  position: relative;

}

.nav-link:hover,
.nav-link.active {
  color: #000;
  font-family: FontBold;
  transition: 0.5s;
}



.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: rgb(0, 92, 12);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}


.carousel-inner img {
  overflow-x: hidden;
  overflow-y: hidden;
  object-fit: cover !important;
  background-size: cover;
  opacity: 60%;
}

.home-carousel-item:after {
  z-index: -4;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*set overlay of carousel */
  background-image: linear-gradient(to bottom, #000000 90%, #EDE4FF);

}

.home-carousel-image {
  mask-image: linear-gradient(black, transparent);
  -webkit-mask-image: linear-gradient(black 90%, transparent);
}


.carousel {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.carousel-container {
  margin: 0;
  padding: 0;
}


/*Carousel Text Title*/
.home-text-title {
  text-shadow: 2px 2px 7px black;
  font-size: 50px;
  color: #EDE4FF;
  font-family: FontBold;
}

/*Carousel Text Caption*/
.text-bg {
  text-shadow: 1px 1px 5px black;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: FontReg;
  margin-bottom: 3%;
  text-align: center;


}

.home-caro-button {
  z-index: 10;
  font-family: FontReg;
  background-color: #8d48a1;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.caro-posi {
  margin-bottom: 12%;
}

.home-caro-button:hover {
  color: #000;
  background-color: #ffffff;
  font-family: FontBold;
  margin-bottom: 40%
}

.carousel-indicators img {
  width: 80px;
  height: 50px;
  display: block;

}

.carousel-indicators button {
  width: max-content !important;
}

.carousel-indicators {
  position: unset;
}

.home-carousel-indicators button.active img {
  border: 2px solid rgb(142, 59, 145);
}

.home-fixed-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 800px;
  background-position: center;
  background-size: cover;
  background-color: #EDE4FF;
  background-attachment: fixed;

}

.content-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-color: #e8e4ff;

  width: 100%;
  float: left;
}

.content-container10 {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-color: #ffffff;

  width: 100%;
  float: left;
  background-attachment: fixed;
}

.content-container7 {
  position: relative;
  /*margin-top: 30px;*/
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-image: linear-gradient(to right, #baedf649, #3dffff4e, #54eb9339, #baedf649), url(About.png);
  width: 100%;
  float: left;
  background-attachment: fixed;
}

.content-container p {
  font-family: FontBold;
  margin: 1%;
  font-weight: bold;
  color: #000000;



}

.content-container1 {

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-color: #ffffff;
  padding: 5px;
  width: 100%;
  float: left;
  box-shadow: 0 2px 4px 0 rgba(0.1, 0.1, 0.1, .5);
  transform: rotate(180deg);
  mask-image: linear-gradient(to top, black, transparent);
  -webkit-mask-image: linear-gradient(black 20%, transparent);


}

.content-container5 {

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-image: linear-gradient(#CFF4FC, #EDE4FF);
  padding: 5px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(50% + 50px) calc(100% - 50px), 50% 100%, calc(50% - 50px) calc(100% - 50px), 0 calc(100% - 50px));
}

.content-container2 {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 3;
  background-color: #ffffff;
  padding: 5px;
  width: 100%;
  float: left;

}

.content-container9 {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-image: linear-gradient(rgba(255, 255, 255, 0.459), rgba(255, 255, 255, 0.459));

  width: 100%;
  float: left;


}

.content-container3 {

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
 
  transition: all 0.5s;
  width: 100%;
  float: left;
}

.content-container8 {

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-color: white;

  width: 100%;
  float: left;

}

.content-container6 {

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(50% + 71.41px) calc(100% - 50px), 50% 100%, calc(50% - 71.41px) calc(100% - 50px), 0 calc(100% - 50px));
  width: 100%;
  float: left;


}

.content-container4 {

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-image: linear-gradient(to right, #baedf649, #3dffff4e, #54eb9339, #baedf649), url(About.png);
  clip-path: polygon(0 0, calc(50% - 0.63px - 71.41px) 0, 50% calc(50px + 0.44px), calc(50% + 0.63px + 71.41px) 0, 100% 0, 100% 100%, 0 100%);
  margin-top: -48px;
  width: 100%;
  float: left;
  background-attachment: fixed;
}

.content-container3 h3 {
  font-family: FontBold;
  margin-bottom: 2%;
}

.header {
  font-family: FontBold;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-inline-end: 55px;

}

.accordion {
  background: transparent;
  transition: all 0.5s;
}

.accordion-item {
  margin: 1%;
  background-color: #ffffff !important;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -2px, 2px, 8px rgba(0, 0, 0, 0.1);
  border: 0 !important;
}

.accordion-body {
  background-color: #f5faf9;
  font-family: FontReg;
}

.accordion-button {
  font-family: FontBold;
  background-color: #d8f7ef !important;
  color: #074134 !important;
  font-size: 0.8rem;
  background: transparent;
  outline: none;
  border: 1px solid rgba(1, 87, 47, 0.1);
  font-weight: 500;
  position: relative;
}



.accordion-button:active,
.accordion-button:focus {
  border: none !important;
  background: #d7edff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordion-button:hover {
  background: #e4f5f8 !important;
  transform: scale(1.05);
}

svg {
  fill: #ffffff;
}

.accordion-button::after {
  background-image: url("plus.svg") !important;

  transition: .5s !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("dash.svg") !important;

  transition: .5s !important;
}

.about-text {
  font-family: FontBold;
  font-size: 35px;
}

.cont-text {
  font-size: 45px;
  font-family: FontBold;

}

.corp-align {
  font-family: FontReg;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.about-para {
  font-family: FontReg;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.contact-text {
  font-family: FontReg;
}

.about-content {
  background-image: linear-gradient(to right, #d8f7ef0c, #d8f7ef);
  padding: 10px;
}

.about-content1 {
  background-image: linear-gradient(to right, #d8f7ef, #d8f7ef0c);
  padding: 23px;
}


.tab-content {
  background-color: rgb(243, 255, 251);
  padding: 10px;
  border-radius: 0 0 20px 20px;
  font-family: FontReg;
}



.line {
  height: 1px;
  background: black;
}


.card {
  background: none !important;
  transition: all 0.5s;
}

.content-container3:hover {
  transform: scale(1.02);
  
}

/*Login */
.banner-area {
  height: 100vh;
  animation: animate 15s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background-color: #c5fff1;
  transition: all 0.5s ease-in-out;
}
.banner-area:hover {
  transform: scale(1.08);
  transform-origin: -20%;
}
/*
@keyframes animate {
  0% {
    background-color: #e1defb;
  }

  25% {
    background-color: #efdefe;
  }

  50% {
    background-color: #e1ddfa;
  }

  75% {
    background-color: #d8eff7;
  }
  100% {
    background-color: #e1defb;
  }


}*/

.login-content-container7 {
  position: relative;
  /*margin-top: 30px;*/
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-image: linear-gradient(to right, #00000049, #3dffff43, #54eb934b, #00000049),url("AlpsLogin.jpg");
  width: 100%;
  float: left;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img-login {

  width: 40%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;


}

.about-login {

  font-family: FontBold;
}

.link-text {

  font-family: FontReg;
}

.insta {
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.insta:hover {
  background: linear-gradient(45deg, #fccc63, #fc7f5a, #ff4e50, #d81159, #8f2d56, #4f5d75, #2b8686, #18a558, #88bf36, #fccc63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.chrome:hover {
  background: #4C8BF5;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Booking.php */
.navbar-book {
  font-size: 25px;
  background-color: #DCE7FA;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0.2, .5);
  height: 80px;
  margin: 10px;
  border-radius: 20px;
  padding: 0.5rem;
}


.book-login-button {
  font-family: FontReg;

  background-color: #48a198;
  color: #ffffff;

  font-size: 20px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}


.book-login-button:hover {
  color: #000;
  background-color: #c1f3ff;
  font-family: FontBold;
}

.book-text-title {
  text-shadow: 2px 2px 7px black;
  font-size: 50px;
  color: #DCE7FA;
  font-family: FontBold;
}

.book-caro-button {
  z-index: 10;
  font-family: FontReg;
  background-color: #48a198;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.book-caro-button:hover {
  color: #000;
  background-color: #c1f3ff;
  font-family: FontBold;
}

.book-carousel-indicators button.active img {
  border: 2px solid rgb(59, 98, 145);
}

.book-carousel-item:after {
  z-index: -4;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*set overlay of carousel */
  background-image: linear-gradient(to bottom, #000000 90%, #DCE7FA);

}

.book-carousel-image {
  mask-image: linear-gradient(black, transparent);
  -webkit-mask-image: linear-gradient(black 90%, transparent);
}

.book-fixed-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-color: #DCE7FA;
  background-attachment: fixed;
}


.booking-container {
  background-color: #e6f8f3;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  position:relative;
  
  
}

.book-content-container1 {

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-color: #DCE7FA;
  padding: 5px;
  width: 100%;
  float: left;
  box-shadow: 0 2px 4px 0 rgba(0.1, 0.1, 0.1, .5);
  mask-image: linear-gradient(to top, black, transparent);
  -webkit-mask-image: linear-gradient(black 20%, transparent);
}


.bus-card, .bus-card-group {
  border: none; /* Remove border */
  border-radius: 0; /* Remove rounded corners */
  transition: all 0.5s;
}

.bus-card-title {
  padding: 10px;
  background: #b4ffe7;
  font-family:FontBold;
  text-align: center;
  border-radius: 10px;
}


.bus-card-body{
  background-color: rgb(255, 255, 255);
}

.bus-card-text{
  background-color: #e6f8f3;
  font-family:FontReg;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.bus-card:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index:10;
}

.term-card, .term-card-group {
  border: none; /* Remove border */
  border-radius: 0; /* Remove rounded corners */
  transition: all 0.5s;
}

.term-card-title {
  padding: 10px;
  background: #b4ebff;
  font-family:FontBold;
  text-align: center;
  border-radius: 10px;
}


.term-card-body{
  background-color: rgb(255, 255, 255);
}

.term-card-text{
  background-color: #e6f2f8 !important; 
  font-family:FontReg;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.term-card:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index:30;
}


.bus-align {
  font-family: FontBold;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.card-img-bottom {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  z-index: 20;
}

.term-button {
  font-family: FontReg;

  background-color: #48a198;
  color: #ffffff;

  font-size: 17px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s background-color;
}


.term-button:hover {
  color: #000;
  background-color: #c1f3ff;
  font-family: FontBold;
}

input[type="radio"] {
  display: none;
}

#s1:checked~.slidecards #slide2,
#s2:checked~.slidecards #slide3,
#s3:checked~.slidecards #slide1 {
  padding:10px;
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #eceaed;
  --currente-color2: #404457;
}
#s1:checked~.slidecards #slide3,
#s2:checked~.slidecards #slide1,
#s3:checked~.slidecards #slide2 {
  padding:10px;
  transform: translate3d(55%, 0, -120px);
  --current-color1: #eceaed;
  --currente-color2: #404457;
}
#s1:checked~.slidecards #slide1,
#s2:checked~.slidecards #slide2,
#s3:checked~.slidecards #slide3 {
  padding:10px;
  transform: translate3d(0, 0, 0);
  --current-color1: #fad00c;
  --currente-color2: #eceaed;
}

.container-slider {
  width:100%;
  height:100%;
  max-width: 600px;
  max-height: 600px;  
  display:flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  flex-direction: column;
}

.slidecards {
position: relative;
height:500px;
width:430px;
margin-bottom: 20px;
perspective: 1000px;
transform-style: preserve-3d;
}

.slidecards label {
  position:absolute;
  width: 430px;
  left:0;
  right: 0;
  margin:auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.slidecards .slidecard {
  
  position:relative;
  height:100%;
  background-color: #29317C ;
  border-radius: 10px;
  padding: 30px 35px;
}

.slidecards .imageslide {
  display:flex;
  justify-content: space-between;
}

.slidecards .imageslide img {
  
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  margin-top: 23px;
  width: 86%;
  height:220px;
  object-fit: cover;
  transition: all .7s;

}


.slidecards .imageslide img:hover {
  transform: scale(1.05);
}

.slidecards .imageslide .dots {
  text-align:center;

}

.dots div {
  width:10px;
  height:10px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.dots div:nth-child(1) {
  background-color: var(--current-color1) ;
}
.dots div:nth-child(2) {
  background-color: #5b85f9 ;
}
.dots div:nth-child(3) {
  background-color: #000 ;
}

.slidecard .infos {
  display:block;
  text-align: end;
  padding-top: 40px;
}

.slidecard .infos span {
  display:block;
  font-family: FontReg;
}

.infos .name {
  font-family: FontBold;
  font-size: 20px;
  color:var(--current-color1);
  letter-spacing: 8px;
  margin-bottom: 20px;
  padding-left: 10%;
  transition: all .6s ease;
}

.slidecard .content {
  font-size: 15.5px;
  color: #eceaed;
  letter-spacing: 3px;
}

.slidecard {
  border:3px solid;
display:inline-block;
  border-radius: 5px;
  
  align-items: center;
  justify-content: center;
  color:#ffffff;
  transition: all .7s ease;
}

.slidecard:hover {
  transform: scale(1.05);
}

.book-content-container8 {

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-color: #DCE7FA;

  width: 100%;
  float: left;

}

.book-content-container8 p {
  font-family: FontBold;
  margin: 1%;
  font-weight: bold;
  color: #000000;
}
