@font-face {
  font-family: Font;
  src: url(Chopin-Trial-Black.woff);
}

@font-face {
  font-family: FontBold;
  src: url(Chopin-Trial-Bold.woff);
}

@font-face {
  font-family: FontReg;
  src: url(Chopin-Trial-Regular.woff);
}

.logo {
  float: left;
  position: relative;
  height: 75%;
  width: 75%;
}

.navbar-brand {
  font-family: FontBold;
  margin-left: 5px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 24px;
  transition: 0.3s color;

}

.navbar {
  font-size: 25px;
  background-color: #EDE4FF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0.2, .5);
  height: 80px;
  margin: 10px;
  border-radius: 20px;
  padding: 0.5rem;
}

.login-button {
  font-family: FontReg;

  background-color: #29317C;
  color: #ffffff;

  font-size: 20px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;

}

.login-button:hover {
  color: #000;
  background-color: #EDE4FF;
  font-family: FontBold;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {

  font-family: FontReg;

  color: rgb(8, 1, 68);
  font-weight: 500;
  position: relative;

}

.nav-link:hover,
.nav-link.active {
  color: #000;
  font-family: FontBold;
  transition: 0.5s;
}



.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: rgb(0, 92, 12);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}


.carousel-inner img {
  overflow-x: hidden;
  overflow-y: hidden;
  object-fit: cover !important;
  background-size: cover;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*set overlay of carousel */
  background-image: linear-gradient(to bottom, #f9ffff05 90%, #EDE4FF);

}

.carousel-image {
  mask-image: linear-gradient(black, transparent);
  -webkit-mask-image: linear-gradient(black 90%, transparent);
}


.carousel {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.carousel-container {
  margin: 0;
  padding: 0;
}

.carousel-indicators img {
  width: 80px;
  height: 50px;
  display: block;

}

.carousel-indicators button {
  width: max-content !important;
}

.carousel-indicators {
  position: unset;
}

.carousel-indicators button.active img {
  border: 2px solid rgb(9, 107, 0);
}

.fixed-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 800px;
  background-position: center;
  background-size: cover;
  background-color: #EDE4FF;
  background-attachment: fixed;

}

.content-container {
  position: relative;
  /*margin-top: 30px;*/
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-image: linear-gradient(to right, #ffb1e849, #23919150, #5456eb71, #df99ff3f),url(About.png);
  
  width: 100%;
  float: left;
  background-attachment: fixed;

}

.content-container p {
  font-family: FontBold;
  margin: 1%;
  font-weight: bold;
  color: #000000;
  


}

.content-container1 {

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-color: #ffffff;
  padding: 5px;
  width: 100%;
  float:left;
  box-shadow: 0 2px 4px 0 rgba(0.1, 0.1, 0.1, .5);
}

.content-container2 {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 3;
  background-color: #ffffff;
  padding: 5px;
  width: 100%;
  float:left;
  
}

.content-container3 {

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  background-color: white;

  width: 100%;
  float: left;
}

.content-container3 h3 {
  font-family: FontBold;
  margin-bottom: 2%;
}

.header {
  font-family: FontBold;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-inline-end: 55px;

}

.accordion {
  box-shadow: 0 2px 25px 0 rgba(110, 130, 208, .18);
  background: transparent;

}

.accordion-item {
  margin: 1%;
  background-color: #24b17b;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -2px, 2px, 8px rgba(0, 0, 0, 0.1);
}

.accordion-body {
  background-color: #d8f7ef;
  font-family: FontReg;
}

.accordion-button {
  font-family: FontBold;
  background-color: #26a574 !important;
  color: #fff !important;
  font-size: 0.8rem;
  background: transparent;
  outline: none;
  border: 1px solid rgba(1, 87, 47, 0.1);
  font-weight: 500;
  position: relative;
}

.accordion-button:active,
.accordion-button:focus {
  border: none !important;
  background: #19704f !important;
}

.accordion-button:hover {
  background: #087386 !important;
}

svg {
  fill: #ffffff;
}

.accordion-button::after {
  background-image: url("plus.svg") !important;

  transition: .5s !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("dash.svg") !important;

  transition: .5s !important;
}

.about-text {
  font-family:FontBold;
  
  
}
.about-para {
  font-family:FontReg;
  font-size: 17px;
  text-align: justify;
  text-justify: inter-word;
}
.about-content {
  background-image: linear-gradient(to right, #d8f7ef0c,#d8f7ef);
  padding:10px;
}
.about-content1 {
  background-image: linear-gradient(to right, #d8f7ef, #d8f7ef0c);
  padding:23px;
}

#slider {
  margin:0 auto;
  width:  85%;
  max-width: 100%;
  text-align: center;
}
#slider input[type=radio] {
  display:none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 30px;
  border: 3px;
  background: #fff;
  position: relative;
  z-index: 1;
}

#overflow {
  width:100%;
  overflow:hidden;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
  
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;

}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;

}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 300px;
}

#slides .slide {
  width: 25%;
  float:left;
  display:flex;
  justify-content: center;
  align-items:center;
  height:100%;
  color:#fff;
}

#slides .slide1 {
  background-color: #26a574;
}
#slides .slide2 {
  background-color: #40c793;
}
#slides .slide3 {
  background-color: #6ddfb3;
}
#slides .slide4 {
  background-color: #aef3d8;
}
#controls {
  margin: -130px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}

#controls label {
  transition: opacity 0.2s ease-out;
  display:none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  width:50px;
  opacity:1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url("chevron-compact-right.svg") no-repeat;
   background-size: 50px;
   float:right;
   margin: -70px  35px 0 0;
   display: block;
   
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
   background: url("chevron-compact-left.svg") no-repeat;
   
   float:left;
   margin: -65px 0 0 40px;
   background-size: 50px;
   display: block;
}

#bullets {
  margin: 100px 0 0;
  text-align: center;

}

#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ccc;
  margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2)
#slide3:checked ~ #bullets label:nth-child(3)
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}

@media  screen and (max-width: 900px) {
  #slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(4)
#slide3:checked ~ #bullets label:nth-child(3)
#slide4:checked ~ #bullets label:nth-child(2)
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
  margin:0;
}

}