@font-face {
  font-family: Font;
  src: url(Chopin-Trial-Black.woff);
}

@font-face {
  font-family: FontBold;
  src: url(Chopin-Trial-Bold.woff);
}

@font-face {
  font-family: FontReg;
  src: url(Chopin-Trial-Regular.woff);
}

body {
  min-height: 100vh;
  height:100%;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height:auto;
  height: -webkit-fill-available;

  overflow: auto;
 
}



.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}
/*
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
*/

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.nav-link:hover{
  background-color: #0d6efd;
  color:rgb(0, 0, 0);
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
  color:white;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  color:white;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {

  font-family: FontReg;
  color: rgb(255, 255, 255);
  font-weight: 500;
  position: relative;

}

.nav-link:hover,
.nav-link.active {
  color: #ffffff;
  font-family: FontBold;
  transition: 0.5s;
}

.nav-pills a{
  color:black;
  }

  .button-font {
    font-family:FontReg;
    border:none;
    height:100%;
  }

  .button-font:hover {
    background-color: black;
    color: white;
    font-family:FontBold;
    
  }

  .tbl-font, .hd-font {
    font-family:FontBold;
  }

  .card {transition: all 0.6 ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .dropdown-tog {
    font-family: FontBold;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    color: black;
  }
  
  .dropup-center.dropup .btn-secondary:hover,
  .dropup-center.dropup .btn-secondary:focus {
    background-color: #0d6efd !important;
    color: white;
  }
  
  .dropdown-menu {
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
  }
  
  .dropup-center.dropup .dropdown-menu li a {
    color: black;
    font-family: FontReg;
  }
  
  .dropup-center.dropup .dropdown-menu li a:hover {
    color: white;
    background-color: #0d6efd;
    border-radius: 5px;
    font-family: FontBold;
  }
  
  .dropup-center.dropup .dropdown-tog {
    display: flex;
    align-items: center;
  }
  
  .dropup-center.dropup .dropdown-tog strong {
    flex-grow: 1;
  }