@font-face {
  font-family: Font;
  src: url(Chopin-Trial-Black.woff);
}

@font-face {
  font-family: FontBold;
  src: url(Chopin-Trial-Bold.woff);
}

@font-face {
  font-family: FontReg;
  src: url(Chopin-Trial-Regular.woff);
}

/* Sidebar */
.links {
  list-style-type: none;
}

.links li {
  margin-left: -40px;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #e2eaf8;
  background-position: center;
  background-size: cover;
  overflow-y: auto;
  overflow-x: auto;
}

.hd-text {
  font-family: FontReg;
}

.sidebar {
  box-shadow: -2px 2px 30px 9px rgba(0,0,0,0.5) inset;
-webkit-box-shadow: -2px 2px 30px 9px rgba(0,0,0,0.5) inset;
-moz-box-shadow: -2px 2px 30px 9px rgba(0,0,0,0.5) inset;
  grid-template-columns: auto 1fr;
  gap: 40px;
  margin-right: 20%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#0000008c, #ffffff47), url("Sidebar.jpg");
  width: 100px;
  height: 100%;
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(17px);
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  transition: width 0.4s ease-in;
  -webkit-transition: width 0.4s ease-out;
  -moz-transition: width 0.4s ease-out;
  -o-transition: width 0.4s ease-out;
  -ms-transition: width 0.4s ease-out;
  z-index: 100;
}

.sidebar:hover {
  width: 190px;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  padding: 25px 10px 15px;
}

.logo img {
  margin: auto;
  width: 43px;
  border-radius: 50%;
}

.logo h2 {
  margin: auto;
  font-family: FontBold;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 2.15rem;
  margin-left: 15px;
  display: none;
}

.logo {
  margin-top: 30px;
}

.links .sidebar {
  list-style: none;
  margin-top: 20px;
  height: calc(100%-140px);
  overflow-y: auto;
  scrollbar-width: none;
}

.links::-webkit-scrollbar .sidebar {
  display: none;
}

.sidebar:hover .logo h2 {
  display: block;
}

.sidebar .links h4 {
  color: #e2fdff;
  font-weight: 500;
  font-family: FontBold;
  display: none;
}

.sidebar .links h3 {
  color: #e2fdff;
  font-weight: 500;
  font-family: FontBold;
  display: none;
}

.links li:hover {
  background-color: #c7dcff;
  cursor: pointer;
  border-radius: 4px;
  color: #442775;
}
.links li:hover {
  background-color: #c7dcff;
  cursor: pointer;
  border-radius: 4px;
  color: #442775;
}

.links li:hover i,
.links li:hover a,
.links li:hover button {
  color: #442775;
}

.sidebar:hover .links h4 {
  display: block;
}

.sidebar:hover .links h3 {
  display: block;
}

.sidebar .links hr {
  border: none;
  margin: 0;
  border-color: #ffffff;
  align-items: center;
}

.links li {
  font-family: FontBold;
  display: flex;
  align-items: center;
}

.links li i {
  padding: 12px 10px;
}

.links li a {
  color: #edfaff;
  padding: 10px;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  display: none;
}

.links li button {
  color: #edfaff;
  padding: 10px;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  display: none;
  margin:10px;
}

.sidebar:hover .links li a {
  display: block;
}

.sidebar:hover .links li button {
  display: block;
}

.bi {
  color: rgb(255, 255, 255);
}

.disabled {
  pointer-events: none;

}

.container-fluid {
  margin-left: 5.00%;
  width: 95%;
  background-color: #e2eaf8;
}

.sidebar:hover+.container-fluid {
  margin-left: 190px;
  transition: margin-left 0.5s;
}

.links li.active i,
.links li a.active {
  color: #442775;
}

.links li.active {
  background-color: #c7dcff;
  padding: 2px;
  border-radius: 4px;
}

table{
  overflow:auto !important;
  overflow:overlay;
}
tbody{
  overflow:auto;
  overflow:overlay;
}

@media (max-width: 768px) {
  .sidebar {
    width: 15%;
    margin-right: 0;
  }
  .table{
    overflow:auto !important;
    overflow:overlay;
  }
  tbody{
    overflow:auto;
    overflow:overlay;
  }

  .sidebar:hover {
    width: 25%;
  }

  .container-fluid {
    overflow:auto;
    margin-left: 17%;
    width: 80%;
  }

  .sidebar:hover+.container-fluid {
    margin-right: 20%;
  }
}

.collapse {
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
}

.card-body i {
  color: white;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.card {
  transition: all 0.6 ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.bg-row {
  background-color: #072c4b;
  box-shadow: -2px 2px 30px 9px rgba(0,0,0,0.5) inset;
  -webkit-box-shadow: -2px 2px 30px 9px rgba(0,0,0,0.5) inset;
  -moz-box-shadow: -2px 2px 30px 9px rgba(0,0,0,0.5) inset;
}

.tble-bg {
  background-color: rgb(7, 44, 75) !important;
}

th {
  background-image: linear-gradient(#1717178c, #29292947), url("Sidebar.jpg");
}

.bg-rowimg {
  background-image: linear-gradient(#1717178c, #29292947), url("Sidebar.jpg");
  background-size: cover;
}

.table-striped>tbody>tr:nth-child(odd)>td:hover, 
.table-striped>tbody>tr:nth-child(odd)>th:hover {
   background-color: #eef1ff;
   color:rgb(15, 11, 70);
   font-family:FontBold;
 }

 .btn-color {
  background-color: rgb(7, 44, 75) !important;
  color:white;
 }

.btn-color:hover {
color:rgb(255, 255, 255);
background-color: #172685 !important;
box-shadow: -2px 2px 30px 9px rgba(0, 0, 0, 0.179) inset;
-webkit-box-shadow: -2px 2px 30px 9px rgba(0, 0, 0, 0.25) inset;
-moz-box-shadow: -2px 2px 30px 9px rgba(0, 0, 0, 0.159) inset;
 }

.bdr {
  border-radius: 6px 6px 6px 6px !important;
  overflow: hidden !important;
}

.modal-dialog {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #eef1ff !important;
}

.modal-body {
  background-color: #eef1ff !important;
  overflow-y: auto;
  flex-grow: 1;
}

.modal-header {
  background-color: #072c4b !important;
  color:white;
}

.btn-close {
  background-color: #eef1ff;
  opacity:1;
}

